---
const { leftTitle, rightTitle, leftItems = [], rightItems = [] } = Astro.props;
---

<div class="compare">
  <div class="compare-panel">
    <h3>{leftTitle}</h3>
    <ul>{leftItems.map((item) => <li>{item}</li>)}</ul>
  </div>
  <div class="compare-panel good">
    <h3>{rightTitle}</h3>
    <ul>{rightItems.map((item) => <li>{item}</li>)}</ul>
  </div>
</div>
